ion-grid {
    background-image: url(/assets/images/menu-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

ion-header {
    ion-toolbar {
        --background: #e82efc;
        --border-width: 0;
    }
    ion-title {
        color: #fff;
    }
}

#menu-wrapper {
    height: 100%;
    flex-direction: column;
    ion-card {
        position: relative;
        width: 90%;
        background: #fff;
        margin-bottom: 0px;
        img {
            width: auto;
            opacity: .1;
            position: absolute;
            top: -15px;
            right: 0;
            transform: rotate(-45deg);
            max-width: 100px;
        }
        ion-card-title {
            position: absolute;
            opacity: 0.3;
            top: 0;
            font-size: 3em;
            color: #ccc;
        }
        ion-card-header {
            padding: 30px;
        }
        ion-card-subtitle {
            font-size: 18px;
            margin-bottom: 0;
            position: relative;
            left: 15px;
        }
    }
}