<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Frame Editor
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="action-btn" text-center>
        <ion-button color="primary" (click)="selectImage()">
            <ion-icon name="camera"></ion-icon>
        </ion-button>
        <ion-button color="primary" (click)="compileEditing()">
            <ion-icon name="download"></ion-icon>
        </ion-button>
        <ion-button color="secondary" (click)="clearCanvas()">
            <ion-icon name="trash"></ion-icon>
        </ion-button>
    </div>
    <img *ngIf="finalImage" [src]="finalImage" alt="final-image" id="final-image">
    <canvas #photocanvas></canvas>
    <div id="frame-wrapper1" [ngStyle]="{'max-height': frameMeta.height+'px','max-width': frameMeta.width+'px'}">
        <img [src]="currentFrame" alt="final-image" id="frame-img">
        <div id="gesture-area" [ngStyle]="{'height': ImageMeta.height+'px','width': ImageMeta.width+'px'}" class="draggable">
            <img src="assets/images/flower.png" id="scale-element">
        </div>
        <img [src]="sourceImage" id="img-element-orig">
    </div>
    <div class="frame-slide-wrapper" [ngClass]="{'bottomSheetOpen': bottomSheetOpen}">
        <ion-icon (click)="toggleBottomSheet()" name="ios-menu"></ion-icon>
        <ion-slides pager="true" [options]="slideOpts">
            <ion-slide *ngFor="let frame of frames" (click)="selectFrame(frame)">
                <img src="assets/images/frames/{{frame}}" alt="frame">
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>