#scale-element {
    display: block;
    max-width: 100%;
    /* margin: auto; */
    touch-action: none;
}

#scale-element.reset {
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

ion-content {
    position: relative;
}

#action-btn {
    margin: 5px;
    ion-button {}
    ion-icon {
        margin-left: 5px;
    }
}

#drag-1,
#drag-2 {
    width: 25%;
    min-height: 6.5em;
    margin: 10%;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    touch-action: none;
    user-select: none;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#frame-wrapper {
    background-image: url('/assets/images/frame-horizontal.png');
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    max-width: 500px;
    margin: 0px auto;
    max-height: 100%;
    text-align: center;
    background-position: center;
    background-size: cover;
}

.frame-image-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
}

#final-image {
    width: 100%;
}

#frame-inner-wrapper {
    padding: 50px 65px 0px 65px;
    overflow: hidden;
    position: relative;
    height: calc(100% - 50px);
}

#frame-img {
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: 28;
    cursor: move;
    width: 100%;
    height: 100%;
}

canvas {
    display: none;
    /* display: block; */
    margin: 0px auto;
    width: 100%;
}

#gesture-area img {
    max-width: 100%;
    width: 100%;
}

#img-element-orig {
    position: relative;
    z-index: 26;
    max-width: 100%;
    max-width: initial;
    border: 3px dashed red;
}

#gesture-area {
    position: relative;
    z-index: 29;
    position: absolute;
    opacity: 0;
}

#frame-wrapper1 {
    position: relative;
    overflow: hidden;
    height: 100%;
    max-height: 530px;
    top: -1px;
    margin: 0px auto;
    /* max-height: 100% !important;
    max-width: 100% !important; */
}

.frame-slide-wrapper {
    position: fixed;
    bottom: 0;
    z-index: 999;
    background: #f9f9f9;
    padding: 0px 0;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-top: 2px solid #eee;
    box-shadow: 0px -2px 8px 2px rgba(60, 64, 67, 0.08), 0 1px 3px 1px rgba(60, 64, 67, 0.16);
    width: 100%;
    height: 60px;
    text-align: center;
    ion-icon {
        margin: 0px auto;
        font-size: 32px;
        display: block;
        color: #ccc;
        width: 100%;
        margin-left: 5px
    }
    label {
        color: #999;
        font-weight: 100;
        font-family: cursive, arial;
        font-weight: bold;
        font-size: 18px;
    }
}

.bottomSheetOpen {
    height: auto;
}

ion-slides {
    padding: 15px;
    margin: 15px 0;
    margin-top: 5px;
    .swiper-slide {
        max-height: 100px;
        img {
            border-radius: 18px;
            border: 1px solid #fff;
        }
    }
}

#frame-text {
    transform: translate(0px, 0px);
    position: absolute;
    padding: 30px;
    z-index: 29;
    touch-action: none;
    user-select: none;
}